Repository knowsys/nemo, pull requests merged in 2023-11, with the labels that each got.

#395 Fix type compatibility where casting is needed
  nemo/src/io/formats/dsv.rs
  nemo/src/io/parser.rs
  nemo/src/model/types/complex_types.rs
  nemo/src/model/types/primitive_types.rs
  nemo/src/program_analysis/type_inference.rs
  nemo/src/program_analysis/type_inference/type_requirement.rs
Labels: bug, logical, type system

#396 make assignements accessible through python
  nemo-python/pyproject.toml
  nemo-python/src/lib.rs
  nemo-python/tests/test_example.py
  nemo/src/execution/tracing/trace.rs
Labels: enhancement, python

#397 use HashMapDictionary
  Cargo.lock
  nemo-benches/Cargo.toml
  nemo-benches/benches/input.rs
  nemo-benches/src/bin/dict-bench.rs
  nemo-cli/Cargo.toml
  nemo-physical/Cargo.toml
  nemo-physical/src/arithmetic/traits.rs
  nemo-physical/src/builder_proxy.rs
  nemo-physical/src/datatypes/data_value.rs
  nemo-physical/src/dictionary.rs
  nemo-physical/src/dictionary/dictionary_string.rs
  nemo-physical/src/dictionary/hash_map_dictionary.rs
  nemo-physical/src/dictionary/infix_dictionary.rs
  nemo-physical/src/dictionary/meta_dictionary.rs
  nemo-physical/src/dictionary/prefixed_string_dictionary.rs
  nemo-physical/src/dictionary/string_dictionary.rs
  nemo-physical/src/dictionary/value_serializer.rs
  nemo-physical/src/management/database.rs
  nemo-physical/src/tabular/operations/triescan_project.rs
  nemo/Cargo.toml
  nemo/src/builder_proxy.rs
  nemo/src/io/formats/dsv.rs
  nemo/src/io/formats/rdf_triples.rs
Labels: enhancement, physical

#401 patch: using u64 instead of usize in hashmap dictionary
  nemo-physical/src/dictionary/hash_map_dictionary.rs
Labels: bug, wasm

#400 Expose version info in nemo-wasm and add cargo config
  .cargo/config.toml
  nemo-wasm/src/lib.rs
Labels: enhancement, wasm

#412 cancel in progress ci runs, when new version is pushed
  .github/workflows/pr.yml
Labels: infrastructure, co2

#411 simplify generic code in rdf triples reader
  nemo/src/io/formats/rdf_triples.rs
Labels: enhancement, rdf

#414 Unbreak nemo-wasm nix package
  flake.lock
Labels: bug, infrastructure

#422 Fix for issue #417
  nemo-physical/src/dictionary/hash_map_dictionary.rs
Labels: bug, critical, dictionary

#423 UnsafeCell<Atomic> does not make any sense
  nemo-physical/src/dictionary/hash_map_dictionary.rs
Labels: technical-debt, physical, dictionary

#425 use the hashbrown::Equivalence trait instead of tmp-refs
  Cargo.lock
  nemo-physical/Cargo.toml
  nemo-physical/src/dictionary/hash_map_dictionary.rs
Labels: technical-debt, physical, dictionary

#429 parse nested map terms
  nemo/src/io/parser.rs
Labels: enhancement, Parser

#432 fix off-by-one-error in cut layer calculation
  nemo-physical/src/tabular/operations/materialize.rs
  nemo/src/execution/planning/plan_util.rs
  resources/testcases/regression/planning_engine/independent_head/regression.yaml
  resources/testcases/regression/planning_engine/independent_head/run.rls
  resources/testcases/regression/planning_engine/independent_head/run/a.csv
  resources/testcases/regression/planning_engine/join_by_eq_constraint/integer.rls
  resources/testcases/regression/planning_engine/join_by_eq_constraint/integer/intInBody.csv
  resources/testcases/regression/planning_engine/join_by_eq_constraint/regression.yaml
  resources/testcases/regression/planning_engine/join_by_eq_constraint/string.rls
  resources/testcases/regression/planning_engine/join_by_eq_constraint/string/literalInBody.csv
  resources/testcases/regression/planning_engine/repeated_variables/run.rls
  resources/testcases/regression/planning_engine/repeated_variables/run/RepeatAll.csv
  resources/testcases/regression/planning_engine/repeated_variables/run/RepeatAlternative.csv
  resources/testcases/regression/planning_engine/repeated_variables/run/RepeatBody.csv
  resources/testcases/regression/planning_engine/repeated_variables/run/RepeatHead.csv
  resources/testcases/regression/planning_engine/repeated_variables/sources/dataA.csv
  resources/testcases/regression/planning_engine/repeated_variables/sources/dataB.csv
  resources/testcases/regression/planning_engine/repeated_variables/sources/dataC.csv
Labels: bug, planning engine

#436 Fix type inference for body constructors
  nemo/src/program_analysis/type_inference/position_graph.rs
Labels: bug, logical, type system
