Repository knowsys/nemo, pull requests merged in 2024-09, with the labels that each got.

#525 Allow % (percent sign) in bare names
  nemo/src/io/parser.rs
  resources/testcases/data-formats/dsv/bare-names-with-percent.rls
  resources/testcases/data-formats/dsv/bare-names-with-percent/fromCsv.csv
  resources/testcases/data-formats/dsv/bare-names-with-percent/inProg.csv
  resources/testcases/data-formats/dsv/bare-names-with-percent/inProg2.csv
  resources/testcases/data-formats/dsv/sources/bareNameWithPercent.csv
Labels: logical, io

#503 Support Trace as DAG in GraphML format
  nemo-wasm/src/lib.rs
  nemo/src/execution/tracing/trace.rs
  nemo/src/model/rule_model/aggregate.rs
  nemo/src/model/rule_model/atom.rs
  nemo/src/model/rule_model/constraint.rs
  nemo/src/model/rule_model/literal.rs
  nemo/src/model/rule_model/rule.rs
  nemo/src/model/rule_model/term.rs
Labels: enhancement, tracing

#531 Adjust language server and wasm for new parser
  nemo-language-server/src/language_server.rs
  nemo-language-server/src/language_server/lsp_component.rs
  nemo-language-server/src/language_server/nemo_position.rs
  nemo-wasm/src/lib.rs
  nemo/src/io/formats/dsv.rs
  nemo/src/io/formats/dsv/value_format.rs
  nemo/src/parser.rs
  nemo/src/parser/error.rs
  nemo/src/parser/lsp.rs
  nemo/src/parser/span.rs
  nemo/src/rule_model/components/fact.rs
  nemo/src/rule_model/error.rs
  nemo/src/rule_model/error/hint.rs
  nemo/src/rule_model/error/validation_error.rs
  nemo/src/rule_model/translation.rs
Labels: Parser

#536 LSP: Better DocumentSymbols; Syntax Highlighting
  Cargo.lock
  nemo-language-server/Cargo.toml
  nemo-language-server/src/language_server.rs
  nemo-language-server/src/language_server/lsp_component.rs
  nemo-language-server/src/language_server/token_type.rs
Labels: Parser, language-server

#537 Ditch `nom_locate`
  Cargo.lock
  nemo/Cargo.toml
  nemo/src/io/formats/dsv/value_format.rs
  nemo/src/lib.rs
  nemo/src/parser/ast.rs
  nemo/src/parser/ast/comment/closed.rs
  nemo/src/parser/ast/comment/doc.rs
  nemo/src/parser/ast/comment/line.rs
  nemo/src/parser/ast/comment/toplevel.rs
  nemo/src/parser/ast/directive/unknown.rs
  nemo/src/parser/ast/expression/basic/number.rs
  nemo/src/parser/ast/expression/complex/arithmetic.rs
  nemo/src/parser/ast/tag/aggregation.rs
  nemo/src/parser/ast/token.rs
  nemo/src/parser/error.rs
  nemo/src/parser/input.rs
  nemo/src/parser/span.rs
  nemo/src/rule_model/translation/basic/variable.rs
Labels: Parser
