Repository knowsys/nemo, pull requests merged in 2025-01, with the labels that each got.

#564 Feature/552 eval constant terms
  nemo-physical/src/function.rs
  nemo-physical/src/function/evaluation.rs
  nemo-python/src/lib.rs
  nemo/src/execution/execution_engine.rs
  nemo/src/execution/planning/operations.rs
  nemo/src/execution/planning/operations/operation.rs
  nemo/src/execution/tracing/trace.rs
  nemo/src/rule_model.rs
  nemo/src/rule_model/components/parse.rs
  nemo/src/rule_model/components/tag.rs
  nemo/src/rule_model/components/term.rs
  nemo/src/rule_model/components/term/aggregate.rs
  nemo/src/rule_model/components/term/function.rs
  nemo/src/rule_model/components/term/map.rs
  nemo/src/rule_model/components/term/operation.rs
  nemo/src/rule_model/components/term/primitive.rs
  nemo/src/rule_model/components/term/primitive/ground.rs
  nemo/src/rule_model/components/term/primitive/variable.rs
  nemo/src/rule_model/components/term/tuple.rs
  nemo/src/rule_model/substitution.rs
  nemo/src/rule_model/term_map.rs
  nemo/src/rule_model/translation/complex/function.rs
Labels: enhancement, builtins

#577 Preliminary support for reasoning over SPARQL query results
  .github/workflows/pr.yml
  Cargo.lock
  flake.lock
  libs/macros/Cargo.toml
  libs/macros/src/lib.rs
  nemo-cli/src/main.rs
  nemo-cli/tests/blackbox_integration.rs
  nemo-language-server/src/language_server.rs
  nemo-language-server/src/language_server/lsp_component.rs
  nemo-physical/Cargo.toml
  nemo-physical/src/datavalues/syntax.rs
  nemo-physical/src/function/definitions.rs
  nemo-physical/src/function/definitions/string.rs
  nemo-physical/src/function/tree.rs
  nemo-physical/src/management/database.rs
  nemo-physical/src/management/database/order.rs
  nemo-wasm/src/lib.rs
  nemo/Cargo.toml
  nemo/src/execution/planning/operations/operation.rs
  nemo/src/io/import_manager.rs
  nemo/src/io/resource_providers.rs
  nemo/src/io/resource_providers/file.rs
  nemo/src/io/resource_providers/http.rs
  nemo/src/parser/ast/directive/export.rs
  nemo/src/parser/ast/directive/import.rs
  nemo/src/parser/ast/expression/basic/string.rs
  nemo/src/parser/ast/expression/complex/fstring.rs
  nemo/src/parser/ast/statement.rs
  nemo/src/parser/ast/token.rs
  nemo/src/rule_model/components.rs
  nemo/src/rule_model/components/import_export.rs
  nemo/src/rule_model/components/import_export/attributes.rs
  nemo/src/rule_model/components/import_export/file_formats.rs
  nemo/src/rule_model/components/term.rs
  nemo/src/rule_model/components/term/function.rs
  nemo/src/rule_model/components/term/map.rs
  nemo/src/rule_model/components/term/operation.rs
  nemo/src/rule_model/components/term/operation/operation_kind.rs
  nemo/src/rule_model/components/term/primitive/ground.rs
  nemo/src/rule_model/components/term/tuple.rs
  nemo/src/rule_model/error/translation_error.rs
  nemo/src/rule_model/translation/directive/import_export.rs
  nemo/src/syntax.rs
  resources/testcases/arithmetic/builtins.rls
  resources/testcases/arithmetic/builtins/result.csv
  resources/testcases/arithmetic/sources/uri_strings.csv
  resources/testcases/data-formats/dsv/computed-names.rls
  resources/testcases/data-formats/dsv/computed-names/data966-output.csv
Labels: enhancement, Parser, builtins

#579 generalize `ProgramAST` lifetimes
  nemo/src/parser/ast.rs
  nemo/src/parser/ast/attribute.rs
  nemo/src/parser/ast/comment/closed.rs
  nemo/src/parser/ast/comment/doc.rs
  nemo/src/parser/ast/comment/line.rs
  nemo/src/parser/ast/comment/toplevel.rs
  nemo/src/parser/ast/directive.rs
  nemo/src/parser/ast/directive/base.rs
  nemo/src/parser/ast/directive/declare.rs
  nemo/src/parser/ast/directive/export.rs
  nemo/src/parser/ast/directive/import.rs
  nemo/src/parser/ast/directive/output.rs
  nemo/src/parser/ast/directive/prefix.rs
  nemo/src/parser/ast/directive/unknown.rs
  nemo/src/parser/ast/expression.rs
  nemo/src/parser/ast/expression/basic/blank.rs
  nemo/src/parser/ast/expression/basic/boolean.rs
  nemo/src/parser/ast/expression/basic/constant.rs
  nemo/src/parser/ast/expression/basic/iri.rs
  nemo/src/parser/ast/expression/basic/number.rs
  nemo/src/parser/ast/expression/basic/rdf_literal.rs
  nemo/src/parser/ast/expression/basic/string.rs
  nemo/src/parser/ast/expression/basic/variable.rs
  nemo/src/parser/ast/expression/complex/aggregation.rs
  nemo/src/parser/ast/expression/complex/arithmetic.rs
  nemo/src/parser/ast/expression/complex/atom.rs
  nemo/src/parser/ast/expression/complex/fstring.rs
  nemo/src/parser/ast/expression/complex/infix.rs
  nemo/src/parser/ast/expression/complex/map.rs
  nemo/src/parser/ast/expression/complex/negation.rs
  nemo/src/parser/ast/expression/complex/operation.rs
  nemo/src/parser/ast/expression/complex/parenthesized.rs
  nemo/src/parser/ast/expression/complex/tuple.rs
  nemo/src/parser/ast/guard.rs
  nemo/src/parser/ast/program.rs
  nemo/src/parser/ast/rule.rs
  nemo/src/parser/ast/sequence.rs
  nemo/src/parser/ast/sequence/declare.rs
  nemo/src/parser/ast/sequence/key_value.rs
  nemo/src/parser/ast/statement.rs
  nemo/src/parser/ast/tag/aggregation.rs
  nemo/src/parser/ast/tag/datatype.rs
  nemo/src/parser/ast/tag/operation.rs
  nemo/src/parser/ast/tag/parameter.rs
  nemo/src/parser/ast/tag/structure.rs
Labels: Parser

#584 Add test case for Media types
  nemo/src/io/formats/dsv.rs
  nemo/src/io/formats/json.rs
  nemo/src/io/formats/rdf.rs
Labels: io, tests

#586 Add option to ignore DSV headers
  nemo-wasm/src/lib.rs
  nemo/src/chase_model/analysis/variable_order.rs
  nemo/src/chase_model/translation/import_export.rs
  nemo/src/io/formats/dsv.rs
  nemo/src/io/formats/dsv/reader.rs
  nemo/src/rule_model/components/import_export.rs
  nemo/src/rule_model/components/import_export/attributes.rs
  nemo/src/rule_model/components/import_export/file_formats.rs
  nemo/src/syntax.rs
  resources/testcases/data-formats/dsv/headers.rls
  resources/testcases/data-formats/dsv/headers/noHeaders.csv
  resources/testcases/data-formats/dsv/headers/withHeaders.csv
  resources/testcases/data-formats/dsv/sources/headers.csv
Labels: enhancement, CSV, io

#587 Bug/581 read any signs
  nemo-physical/src/datavalues/any_datavalue.rs
  resources/testcases/regression/load/sign/run.rls
  resources/testcases/regression/load/sign/run/sign.csv
  resources/testcases/regression/load/sources/sign.csv
Labels: bug, Parser

#589 Feature/570 builtin iri
  nemo-physical/src/function/definitions.rs
  nemo-physical/src/function/definitions/casting.rs
  nemo-physical/src/function/evaluation.rs
  nemo-physical/src/function/tree.rs
  nemo/src/execution/planning/operations/operation.rs
  nemo/src/rule_model/components/term/operation/operation_kind.rs
  nemo/src/syntax.rs
  resources/testcases/arithmetic/builtins.rls
  resources/testcases/arithmetic/builtins/result.csv
Labels: enhancement, builtins

#595 Hotfix: Expose import media types through wasm bindings
  nemo-wasm/src/lib.rs
Labels: bug, wasm

#601 add builtin functions BITSHL, BITSHR, BITSHRU
  nemo-physical/src/function/definitions.rs
  nemo-physical/src/function/definitions/numeric.rs
  nemo-physical/src/function/definitions/numeric/integer64.rs
  nemo-physical/src/function/tree.rs
  nemo/src/execution/planning/operations/operation.rs
  nemo/src/rule_model/components/term/operation/operation_kind.rs
  nemo/src/syntax.rs
  resources/testcases/arithmetic/builtins.rls
  resources/testcases/arithmetic/builtins/result.csv
Labels: enhancement, builtins

#603 Enable transparent decompression in HTTP resources
  Cargo.lock
  nemo-cli/tests/cli.rs
  nemo-physical/src/columnar/column/rle.rs
  nemo-physical/src/columnar/column/vector.rs
  nemo-physical/src/columnar/columnbuilder/adaptive.rs
  nemo-physical/src/columnar/operations/constant.rs
  nemo-physical/src/columnar/operations/join.rs
  nemo-physical/src/columnar/operations/pass.rs
  nemo-physical/src/columnar/operations/subtract.rs
  nemo-physical/src/columnar/operations/union.rs
  nemo-physical/src/permutator.rs
  nemo/Cargo.toml
  nemo/src/io/formats/dsv/reader.rs
  nemo/src/io/formats/rdf/reader.rs
Labels: enhancement, io

#604 Replace howlong
  .github/workflows/release.yml
  Cargo.lock
  nemo-physical/Cargo.toml
  nemo-physical/src/meta/timing.rs
  nemo/Cargo.toml
Labels: infrastructure, dependency

#606 Fix timing on WASM
  .github/workflows/release.yml
  flake.nix
  nemo-physical/src/meta/timing.rs
Labels: bug, wasm, infrastructure
