Repository knowsys/nemo, pull requests merged in 2025-02, with the labels that each got.

#615 NQuads, TriG: Support writing to the default graph
  .gitignore
  CONTRIBUTING.md
  Cargo.toml
  nemo-language-server/Cargo.toml
  nemo/src/io/formats/rdf.rs
  nemo/src/io/formats/rdf/reader.rs
  nemo/src/io/formats/rdf/writer.rs
Labels: bug, rdf

#619 fix: do not validate facts and rules twice
  nemo/src/rule_model/translation/fact.rs
  nemo/src/rule_model/translation/rule.rs
Labels: bug

#625 Add builtin for computing the Levenshtein distance of two strings
  Cargo.lock
  nemo-physical/Cargo.toml
  nemo-physical/src/function/definitions.rs
  nemo-physical/src/function/definitions/string.rs
  nemo-physical/src/function/tree.rs
  nemo/src/execution/planning/operations/operation.rs
  nemo/src/rule_model/components/term/operation/operation_kind.rs
  nemo/src/syntax.rs
  resources/testcases/arithmetic/builtins.rls
  resources/testcases/arithmetic/builtins/result.csv
Labels: enhancement, builtins
